{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/acmcodespace_ele.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/ACM_Codespace_logo.png' %}" class="logo" alt="logo">
            <div class="mobile-nav-container">
                <span class="vertical-line"></span>
                <div class="nav-but close-nav" id="nav-but">
                    <span style="--i: 0" class="nav-more"></span>
                    <span style="--i: 1" class="nav-more"></span>
                    <span style="--i: 2" class="nav-more"></span>
                </div>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="/codespace">Home</a></li>
            <li><a class="active-link">Practice</a></li>
            <li><a href="/codespace/contests">Contests</a></li>
        </ul>
        <ul class="mobile-nav-links nav-links close-mobile-nav" id="mobile-nav-options">
            <li><a href="/codespace">Home</a></li>
            <li><a class="active-link">Practice</a></li>
            <li><a href="/codespace/contests">Contests</a></li>
        </ul>
        {% if username %}
            <div class="authorize">
                {{ username }}
                {% if profileUrl %}
                <img src="..{{ profileUrl }}" class="profile-img" alt="profile-img">
                {% else %}
                <img src="{% static 'images/profile.jpeg' %}" class="profile-img" alt="profile">
                {% endif %}
                <ul>
                    <li><a href="/codespace/profile/{{ username }}">Profile</a></li>
                    <li><a href="/codespace/user_logout">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <div class="authorize">
                <a href="/codespace/user_login">Login</a>
                <a href="/codespace/user_registration">Register</a>
            </div>
        {% endif %}
    </nav>
    <div class="main-body" style="align-items: flex-start; height: calc(100vh - 100px);">
        <div class="contest-participated" style="margin-top: 20px;">
            <h2>Practice</h2>
            <table class="submissiontable">
                <tr>
                    <th>Title</th>
                    <th>Difficulty</th>
                    <th>Status</th>
                </tr>
                {% for i in que %}
                <tr>
                    <td><a href="/codespace/practice/{{ i.id }}" class="link" >{{ i.title }}</a></td>
                    <td class="{{ i.level }}">{{ i.level }}</td>
                    {% if i.status %}
                    <td class="color-green">Solved</td>
                    {% else %}
                    <td class="color-yellow">Unsolved</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <footer>
        <p>&copy; copy rights reserved for <a href="https://gmritchapter.acm.org" class="link" target="_blank"><strong>ACM GMRIT</strong></a></p>
        <p>Developed by <a href="https://bhargavratnala.github.io" class="link" target="_blank"><strong>Bhargav Ratnala</strong></a> & <a href="https://akramshaik22.github.io" class="link" target="_blank"><strong>Akram Shaik</strong></a> (2021-25)</p>
    </footer>
</body>
<script>
    const navBut = document.getElementById('nav-but');
    const mobileNavOptions = document.getElementById('mobile-nav-options');
    navBut.addEventListener('click', () => {
        navBut.classList.toggle('close-nav');
        mobileNavOptions.classList.toggle('close-mobile-nav');
    });
</script>
</html>