{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/acmcodespace_ele.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/ACM_Codespace_logo.png' %}" class="logo" alt="logo">
            <div class="mobile-nav-container">
                <span class="vertical-line"></span>
                <div class="nav-but close-nav" id="nav-but">
                    <span style="--i: 0" class="nav-more"></span>
                    <span style="--i: 1" class="nav-more"></span>
                    <span style="--i: 2" class="nav-more"></span>
                </div>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="/codespace">Home</a></li>
            <li><a href="/codespace/practice">Practice</a></li>
            <li><a href="/codespace/contests">Contests</a></li>
        </ul>
        <ul class="mobile-nav-links nav-links close-mobile-nav" id="mobile-nav-options">
            <li><a href="/codespace">Home</a></li>
            <li><a href="/codespace/practice">Practice</a></li>
            <li><a href="/codespace/contests">Contests</a></li>
        </ul>
        <div class="authorize">
            <a href="/codespace/user_login">Login</a>
            <a href="/codespace/user_registration">Register</a>
        </div>
    </nav>
    <div class="main-body" style="align-items: center;">
        <div class="question-list-items scrollhide" style="flex-direction: row; height: calc(100% - 20px); align-items: center;">
            <form class="flex-display scrollhide" style="width: calc(100% - 20px); height: fit-content; flex-direction: column;" action="" method="post">
                {% csrf_token %}
                <h3 class="page-head">Reset Password</h3>
                {% if error %}
                    <p class="msg" style="color: red;">{{ error }}</p>
                {% endif %}
                <div class="input-group">
                    <input placeholder="" type="text" name="email" autocomplete="off" class="input" min="0" id="email">
                    <label class="user-label">username/email</label>
                    <p class="msg" id="emailMsg"></p>
                </div>
                <div class="flex-display" style="width: min(500px, 100%); justify-content: space-between; align-items: center; margin: 20px 0;">
                    <button class="btn" type="button" onclick="sendOTP()" id="otp-button">
                        Send OTP
                    </button>
                    <div id="resend-time" style="display: none;">
                        <p>Resend in <span id="time">02:00</span></p>
                    </div>
                </div>
                <div style="width: min(500px, 100%); display: none;" class="flex-display" id="opt-form">
                    <div class="input-group">
                        <input placeholder="" type="text" name="otp" autocomplete="off" class="input" min="0" id="otp-input">
                        <label class="user-label">OTP</label>
                        <p class="msg" id="optMsg"></p>
                    </div>
                    <button class="btn" type="button" onclick="check_OTP()" style="background-color: #5ddb9a;" id="checkOTP">
                        Submit
                    </button>
                    <div style="width: min(500px, 100%); display: none;" class="flex-display" id="password-form">
                        <div class="input-group">
                            <input placeholder="" onblur="checkPassword()" type="password" name="password" autocomplete="off" class="input" min="0" id="password">
                            <label class="user-label">Password</label>
                            <p class="msg" id="passwordMsg">Password must contain atleast 8 characters, 1 number, 1 special character(. @_)</p>
                        </div>
                        <div class="input-group">
                            <input placeholder="" onblur="checkRepassword()" type="password" name="rpassword" autocomplete="off" class="input" min="0" id="rpassword">
                            <label class="user-label">Re-Password</label>
                            <p class="msg" id="rpasswordMsg">Password must match</p>
                        </div>
                    </div>
                    <button class="btn" type="submit" onsubmit="return validateForm()" style="background-color: #5ddb9a; display: none;" id="formSubmit" disabled>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; copy rights reserved for <a href="https://gmritchapter.acm.org" class="link" target="_blank"><strong>ACM GMRIT</strong></a></p>
        <p>Developed by <a href="https://bhargavratnala.github.io" class="link" target="_blank"><strong>Bhargav Ratnala</strong></a> & <a href="https://akramshaik22.github.io" class="link" target="_blank"><strong>Akram Shaik</strong></a> (2021-25)</p>
    </footer>
</body>
<script>

    let resendTime = document.getElementById("resend-time");
    let otpForm = document.getElementById("opt-form");
    let time = document.getElementById("time");
    let optbutton = document.getElementById("otp-button");
    let email = document.getElementById("email");
    let password = document.getElementById("password");
    let rpassword = document.getElementById("rpassword");
    let emailMsg = document.getElementById("emailMsg");
    let passwordMsg = document.getElementById("passwordMsg");
    let rpasswordMsg = document.getElementById("rpasswordMsg");
    let passwordForm = document.getElementById("password-form");
    let otpMsg = document.getElementById("optMsg");
    let checkOTPButton = document.getElementById("checkOTP");
    let formSubmit = document.getElementById("formSubmit");
    let timeLeft = 120;
    
    console.log(emailMsg);
    
    function sendOTP() {
        optbutton.disabled = true;
        $.ajax({
            type: "POST",
            url: "/codespace/reset_password/send_otp",
            data: "email="+email.value + "&csrfmiddlewaretoken=" + '{{ csrf_token }}',
            success: function(data){
                emailMsg.style.display = "none";
                if (data.status == 0) {
                    // email not sent
                    optbutton.disabled = false;
                    emailMsg.style.display = 'flex';
                    emailMsg.innerHTML = "Username/Email not sent";
                } else if (data.status == 1) {
                    // email sent
                    startTimer();
                    emailMsg.innerHTML = "";
                    otpForm.style.display = "flex";
                    email.readonly = true;
                } else if (data.status == 2) {
                    // email not found
                    optbutton.disabled = false;
                    emailMsg.style.display = 'flex';
                    emailMsg.innerHTML = "Username/Email not found";
                }
            },
            error: function(request){
                optbutton.disabled = false;
                emailMsg.style.display = 'flex';
                emailMsg.innerHTML = "Username/Email not sent, try again later";
            }
        });
    }

    function startTimer() {
        resendTime.style.display = "flex";
        otpForm.style.display = "flex";
        timeLeft = 120;
        timer = setInterval(() => {
            timeLeft--;
            let min = Math.floor(timeLeft / 60);
            let sec = timeLeft % 60;
            time.innerHTML = `${min}:${sec}`;
            if (timeLeft == 0) {
                clearInterval(timer);
                resendTime.style.display = "none";
                optbutton.disabled = false;
                otpForm.style.display = "flex";
            }
        }, 1000);
    }

    function check_OTP(){
        $.ajax({
            type: "POST",
            url: "/codespace/reset_password/verify_otp",
            data: "email="+email.value + "&otp="+document.getElementById("otp-input").value + "&csrfmiddlewaretoken=" + '{{ csrf_token }}',
            success: function(data){
                otpMsg.style.display = 'none';
                if (data.status == 0) {
                    // otp not sent
                    otpMsg.style.display = 'flex';
                    otpMsg.innerHTML = "OTP does not match";
                } else if (data.status == 1) {
                    // otp sent
                    otpMsg.innerHTML = "";
                    passwordForm.style.display = "flex";
                    checkOTPButton.style.display = "none";
                    formSubmit.style.display = "flex";
                otpForm.style.flexDirection = "column";
                    formSubmit.disabled = false;
                } else if (data.status == 2) {
                    otpMsg.style.display = 'flex';
                    otpMsg.innerHTML = "OTP Expired";
                }
            },
            error: function(request){
                otpMsg.style.display = 'flex';
                otpMsg.innerHTML = "OTP not sent, try again later";
            }
        });
    }
    
    let emailreg = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
    let passwordreg = /^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[._ @"]).*$/;
    function validateForm(){
        console.log("validate");
        let password = document.getElementById('password');
        let passwordMsg = document.getElementById('passwordMsg');
        let rpassword = document.getElementById('rpassword');
        let rpasswordMsg = document.getElementById('rpasswordMsg');
        let bool = true;
        passwordMsg.style.display = 'none';
        if(passwordreg.test(password.value) == false){
            passwordMsg.style.display = 'block';
            bool = false;
        }
        if(password.value != rpassword.value){
            rpasswordMsg.style.display = 'block';
            bool = false;
        }
        return bool;
    }

    const navBut = document.getElementById('nav-but');
    const mobileNavOptions = document.getElementById('mobile-nav-options');
    navBut.addEventListener('click', () => {
        navBut.classList.toggle('close-nav');
        mobileNavOptions.classList.toggle('close-mobile-nav');
    });
</script>
</html>