*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    --nav-color: #E6E6E6;
    --div-color: #D9D9D9;
    --text-color: #000;
    --text-color-light: #0000006c;
    --text-color-hover: #0F649D;
}

body{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: var(--nav-color);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
    z-index: 20;
}

.nav-but{
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 50;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(0.8);
}

.nav-more{
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #26B2AD;
    border-radius: 5px;
    transition: all 0.5s;
    transform: translateY(20px) rotate(calc(90deg * var(--i) + 45deg));
}

.close-nav .nav-more{
    transform: translateY(calc(calc(10px * var(--i)) + 10px));
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a:hover, .authorize a:hover{
    color: #26B2AD;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.active-link{
    color: #26B2AD !important;
}

.mobile-nav-links{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--nav-color);
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}

.mobile-nav-links li{
    text-align: center;
    padding: 10px 0;
}

.mobile-nav-container{
    height: 100%;
    display: none;
    align-items: center;
}

.close-mobile-nav{
    top: calc(-100% - 80px);
}

@media (max-width: 700px){
    .mobile-nav-container{
        display: flex;
    }

    .mobile-nav-links{
        display: flex !important;
    }

    .nav-links{
        display: none;
    }

    .authorize > a{
        font-size: 15px !important;
    }
    
    .authorize{
        font-size: 15px !important;
    }

    .logo img{
        width: 100px;
    }

    .contest-details-body{
        height: 100% !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        overflow-y: scroll !important;
    }

    .contest-details-img{
        width: 67% !important;
        max-width: 80% !important;
        height: fit-content !important;
        max-height: none !important;
    }
    
    .contest-details{
        width: 100% !important;
    }

    .contest-details p{
        margin: 5px !important;
        font-size: 0.8rem;
    }
    
    .contest-details h1{
        font-size: 1rem;
    }
    
    footer{
        font-size: 0.7rem;
    }
}

.authorize{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 20px;
    height: 60px;
}

.authorize ul{
    position: absolute;
    top: 100%;
    background-color: var(--nav-color);
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.authorize:hover ul{
    display: flex;
}

.authorize ul li{
    list-style: none;
    margin: 10px;
}

.profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    object-fit: cover;
}

.link{
    text-decoration: none;
    color: #000;
}

.link:hover{
    color: #0F649D;
}

.authorize a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
}

.logo img{
    height: 100%;
    margin: 0;
    object-fit: contain;
}

.main-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 60px);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: var(--nav-color);
    box-shadow: 0px -4px 6px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 950px){
    .main-body{
        flex-direction: column-reverse;
        overflow-y: scroll;
        justify-content: flex-start;
        padding: 10px;
    }

    .contest{
        width: 100% !important;
    }

    .about{
        width: calc(100% - 20px) !important;
        margin: 20px 0 !important;
        height: max-content !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }
    
    .contest-participated{
        height: max-content !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }
    
    .contest{
        height: max-content !important;
    }
}

@media (max-width: 450px){
    .card{
        min-width: 230px !important;
        max-width: 250px !important;
        font-size: 0.8rem;
    }
}

.contest{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 70%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: 10px;
    padding: 10px;
    width: calc(30% - 20px);
    background-color: var(--div-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.about h2{
    margin: 10px;
}

.about h2 a{
    text-decoration: none;
    color: var(--text-color);
}

.about p{
    margin: 10px;
}

.landing-img{
    width: min(100%, 180px);
    object-fit: contain;
}

.contest-pages{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    background-color: var(--div-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.contest-pages h3{
    margin: 10px;
}

.upcoming-contest{
    height: calc(50% - 10px);
}

.past-contest{
    min-height: calc(50% - 10px);
    height: fit-content;
    margin-top: 20px;
}

.card-container{
    display: flex;
    align-items: center;
    height: calc(100% - 30px);
    width: calc(100% - 20px);
    margin: 0 10px;
}

.upcoming-contest .card-container{
    overflow-x: scroll;
}

.past-contest .card-container{
    overflow-y: scroll;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: fit-content;
    min-width: 350px;
    margin: 10px;
    padding: 10px;
    background-color: var(--nav-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 50%;
    margin: 10px 40px;
}

.user-details > .profile-img{
    width: 100px;
    height: 100px;
    margin: 20px;
}

.vs-img{
    height: 50%;
}

.past-contest .card{
    height: 180px;
    flex-basis: 350px;
    min-width: 300px;
}

.poster-img{
    height: 90%;
    width: 50%;
    max-width: 50%;
    object-fit: contain;
}

.contest-details-body{
    flex-direction: row;
}

.contest-details{
    padding: 10px;
}

.content-details p{
    word-wrap: break-word;
}

.contest-details-img{
    height: fit-content;
    max-height: calc(100% - 40px);
    width: fit-content;
    max-width: 50%;
    margin: 20px;
    object-fit: contain;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: var(--div-color);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.btn:hover{
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.participant-count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light)
}

.count{
    color: var(--text-color);
    font-size: 40px;
}

.question-btn{
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.question-btn:hover{
    color: var(--text-color-hover);
}

.question-btn:hover svg{
    fill: var(--text-color-hover);
}

#endtest{
    background: #26D2AD;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

#display_que{
    padding: 5px 10px;
}

.page-head{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.timer{
    font-size: 1.5rem;
}

.username{
    font-size: 1.2rem;
}

.passing-code{
    position: relative;
    top: 50px;
    left: 100%;
    width: max(730px, calc(100% - 300px));
    height: calc(100% - 160px);
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.5);
    flex-direction: row !important;
}

@media (max-width: 950px){
    .passing-code{
        transform: scale(0.85) translateX(-10%);
    }
}

.question{
    width: 40%;
    height: 100%;
    margin-right: 3px;
    border-right: 1px solid var(--text-color);
    
}

.editor-test{
    width: 60%;
    height: 100%;
    border-left: 1px solid var(--text-color);
    background-color: #fff;
}

.editor{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid var(--text-color);
}

.compile-run{
    margin-top: 3px;
    height: calc(40% - 65px);
    border-top: 1px solid var(--text-color);
}

.vertical-line{
    border-left: 1px solid var(--text-color);
    height: 80%;
    margin: 0 10px;
}

.flex-display{
    display: flex;
    height: 100%;
    align-items: center;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 30px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--text-color);
}

.options span{
    display: flex;
    align-items: center;
}

.settings{
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}

.settings > ul{
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: var(--nav-color);
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    width: 160px;
    color: #000;
    z-index: 1;
}

.settings > ul li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.compile-btn{
    height: 25px;
    width: 70px;
    margin: 0 10px;
}

.question-list{
    position: absolute;
    top: -100%;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: block;
    transition: all 0.5s;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    margin: 10px;
}

.question-list-items{
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    overflow-y: scroll;
    width: calc(100% - 20px);
    height: calc(100% - 100px);
}

.question-card{
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.question-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.question-details h2{
    margin: 10px;
}
.question-details span{
    margin: 10px;
}

.score{
    width: 100px;
}

.question-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 5px;
}

.slove-question{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26D2AD;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sloved{
    color: #36A541;
}

.open-list{
    top: 60px;
}

.close > ul{
    display: none;
}

.settings > ul li div{
    margin: 5px 10px;
}

.problem-details{
    border-radius: 10px;
    border: 1px solid #000;
    height: fit-content;
    margin-bottom: 40px;
}

.totalProvlems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #000;
}

.indetail-problems{
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.indetail-problems span{
    margin: 5px;
}

.user-profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* border: 1px solid #000; */
}

.user-info{
    flex-direction: column;
    height: fit-content;
    margin-bottom: 30px;
}

.other-info{
    align-self: flex-start;
    height: fit-content;
    align-items: flex-start;
    flex-direction: column;
}

.about span{
    margin: 5px 30px;
}

.contest-participated{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 1000px);
    padding: 10px;
}

.contest-participated h2{
    align-self: flex-start;
}

.submissiontable{
    margin: 10px 5px 30px 5px;
    width: min(100%, 1000px);
    border-collapse: collapse;
    text-align: center;
}

.submissiontable th{
    padding: 10px;
    background-color: var(--div-color);
}

.submissiontable td{
    padding: 10px;
}

.submissiontable tr:nth-child(odd){
    background-color: var(--nav-color);
}

.admin-about{
    margin: 0;
    padding-top: 40px;
    height: 100%;
    width: min(30%, 300px);
    justify-content: flex-start;
    background-color: transparent;
    border-right: 1px solid #000;
    border-radius: 0;
}

.create-contest-btn{
    width: 150px;
    background-color: #26D2AD;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.publish-head{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.publish-head h2{
    margin: 10px;
    width: 200px;
}

.contest-list{
    padding: 5px 10px;
}

.contest-info{
    background-color: var(--nav-color);
    width: min(600px, 100%);
    margin: 10px;
    height: fit-content;
    border-radius: 10px;
}

@media (max-width: 550px){
    .contest-info{
        display: flex;
        flex-direction: column;
    }

    .contest-info-img{
        width: 100%;
    }

    .contest-desc{
        width: calc(100% - 40px) !important;
        font-size: 0.8rem;
    }
}

.contest-info-img{
    width: 150px;
    aspect-ratio: 9/12;
    object-fit: contain;
    margin: 20px;
}

.contest-desc{
    width: calc(100% - 200px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px 0;
}

.content{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px 5px;
}

.input-group {
    position: relative;
    margin: 10px;
    width: min(500px, 100%);
}

.description-input{
    height: 100px;
}

.description-test{
    height: 50px;
}

.description-test textarea, .description-input textarea{
    resize: none;
}

.input {
    width: 100%;
    height: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #9e9e9e;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:not(:placeholder-shown), .input:-webkit-autofill {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input:focus ~ label, .input:not(:placeholder-shown) ~ label, .input:-webkit-autofill ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
    color: #2196f3;
}

.text-details{
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    justify-content: space-around;
    align-items: center;
}

.image-details{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.upload{
    width: 250px;
}

.preview-img-div{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--div-color);
    border-radius: 10px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.preview-img{
    position: absolute;
    width: 100%;
    top: 10px;
    border-radius: 5px;
    height: calc(100% - 20px);
    object-fit: contain;
    z-index: 5;
    border: none;
}

#files{
    display: none;
}

.upload-add{
    position: relative;
    z-index: 1;
    font-size: 40px;
    fill: #9e9e9e;
}

.upload-add ~ span{
    color: #9e9e9e;
}

.radio-input input {
    display: none;
}
  
.radio-input {
    --container_width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / var(--count));
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}

.radio-input label:has(input:checked) {
    color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
    background-color: rgb(11, 117, 223);
    display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    background-color: rgb(11, 117, 223);
    transform: translateX(calc(var(--container_width) * 0/var(--count)));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    background-color: rgb(255, 183, 0);
    transform: translateX(calc(var(--container_width) * 1/var(--count)));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    background-color: rgb(255, 77, 0);
    transform: translateX(calc(var(--container_width) * 2/var(--count)));
}

.upload-solution {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
}

.upload-solution:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.upload-solution:focus,.upload-solution:active {
    opacity: .85;
    box-shadow: none;
}

.upload-solution svg {
    width: 1.25rem;
    height: 1.25rem;
}

.testcases{
    display: flex;
    flex-direction: column;
    width: min(500px, 100%);
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.testcases span{
    color: #9e9e9e;
    margin: 5px;
}

#filename{
    color: #9e9e9e;
    margin: 5px;
}

.testcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compile-outputs{
    position: relative;
    min-width: 100%;
    height: 100%;
}

.run-output, .submit-output{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
}

.run-output textarea{
    resize: none;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.display-submit > .run-output{
    z-index: 1;
}

.display-submit > .submit-output{
    z-index: 5;
}

.display-run > .run-output{
    z-index: 5;
}

.display-run > .submit-output{
    z-index: 1;
}

.run-inputs, .run-outputs{
    width: calc(100% - 20px);
    height: fit-content;
    margin: 10px 5px;
}

.run-inputs pre, .run-output pre{
    margin: 5px;
}

.color-red{
    color: #ff0000;
}

.color-green{
    color: #00af00;
}

.color-yellow{
    color: #b4b401;
}

.Easy{
    color: rgb(11, 117, 223);
}

.Medium{
    color: rgb(255, 183, 0);
}

.Hard{
    color: rgb(255, 77, 0);
}

.submit-table{
    width: calc(100% - 10px);
    margin: 10px 5px;
    border-collapse: collapse;
    border: 1px solid #9e9e9e;
}

.submit-table th{
    border: 1px solid #9e9e9e;
    padding: 5px;
    background-color: var(--div-color);
}

.submit-table td{
    text-align: center;
    border: 1px solid #9e9e9e;
    padding: 5px;
}

.submit-table tr:nth-child(odd){
    background-color: var(--nav-color);
}

.loader {
    display: none;
    --dim: 1.5rem;
    width: var(--dim);
    height: var(--dim);
    position: absolute;
    top: 1rem;
    right: var(--dim);
    animation: spin988 2s linear infinite;
}

.loader .circle {
    --color: #333;
    --dim: 0.5rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%, 25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%, 50% {
        transform: scale(1) rotate(180deg);
    }

    70%, 75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%, 100% {
        transform: scale(1) rotate(360deg);
    }
}

.msg{
    color: #c33737;
    margin: 0 10px;
    display: none;
}

.testcase-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testcase-list li{
    width: calc(100% - 30px);
}

.testcase-list li::marker{
    color: #9e9e9e;
}

.mcq-body{
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.mcq-body :where(h2, p){
    margin: 10px;
}

.mcq-navigation{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid #000;
}

.mcq-options{
    display: flex;
    flex-direction: column;
}

.mcq-option{
    display: flex;
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.mcq-option input[type='radio']{
    display: none;
}

.mcq-option input[type='radio']:checked ~ .circle svg, .mcq-option input[type='radio']:checked ~ div .circle svg{
    display: block;
}

.mcq-option input[type='text']{
    border: none;
    height: 100%;
}

.mcq-option input[type='text']:focus{
    outline: none;
}

.mcq-option .circle svg{
    display: none;
    width: 100%;
    height: 100%;
    fill: #00af00;
}

.circle{
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    margin: 0 10px;
    border-radius: 50%;
}

.loading-div{
    width: 100%;
    height: 100%;
    background-color: #000000b1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.load-container{
    position: relative;
    padding: 5px;
}

.loading-img{
    height: 100px;
    animation: loader-animation 1s infinite ease-in-out;
}

.refresh-div{
    position: absolute;
    top: 70px;
    left: 20px;
    font-weight: bold;
    color: #FF914D;
    display: none;
}

@keyframes loader-animation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.scrollhide{
    scrollbar-width: none;
}

.scrollhide::-webkit-scrollbar {
    display: none;
}

.sliding-window{
    display: flex;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-x: hidden;
    position: relative;
}